body {
    padding: 0px;
    margin: 0px;
}

#selectionSection {
    float: left;
    height: 100%;
}

#mapSection {
    /*display: inline-block;*/
    height: 75%;
}

#infoSection {
    position: relative;
}

#container {
    margin: 0 auto;
    width: 66.66%;
    height: 100%;
}

#areaSelect {
    -webkit-appearance: none;
}

#hytter {
    height: 100%;
    width: 25%;
    background-color: #d82d20;
}

#map {
    height: 400px;
    width: 600px;
}

.hytter {
    background-color: #d82d20;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
    height: 50px;
    width: 100px;
}

.hytter:hover {
    background-color: #a80c1c;
}

#infoSection {
    height: 25%;
}

#infohytte1 {
    width: 34%;
    /* Gyslige farger er midlertidige*/
    background-color: green;
    height: 100%;
    float: left;
}

#infotur {
    width: 32%;
    /* Gyslige farger er midlertidige */
    background-color: brown;
    height: 100%;
    float: left;
}

#infohytte2 {
    width: 34%;
    /* Gyslige farger er midlertidige */
    background-color: aqua;
    height: 100%;
    float: left;
}
.valgt{
      background-color: #b00e1e;
}
