/*
 *
 * Alt av farger er midlertidig
 *
 */

body, html {
    height: 100%;
    font-family: "DTL";
}

#container {
    height: 100%;
    width: 80%;
    /*background-color: aqua;*/
    margin: auto;
}

#selectionSection {
    height: 70%;
    width: 33%;
    background-color: #d82d20;
    float: left;
    overflow-y: scroll;
}

#mapSection {
    width: 67%;
    height: 70%;
    background-color: bisque;
    float: left;
}

#infoSection {
    clear: both;
    width: 100%;
    height: 30%;
    /*background-color: blueviolet;*/
}

#map {
    height: 100%;
    width: 100%;
}

.hytter {
    padding: 10px;
    display: inline-block;
    color: white;
}

.hytter:hover {
    background-color: #a80c1c;
}

.hytter > img {
    width: 40%;
    float: left;
}

.hytter > b {
    margin: 3px;
    font-family: "DTL";
}

#infohytte1 {
    width: 34%;
    /* Gyslige farger er midlertidige*/
    /*background-color: green;*/
    height: 100%;
    float: left;
}

#infotur {
    width: 32%;
    /* Gyslige farger er midlertidige */
    /*background-color: brown;*/
    height: 100%;
    float: left;
}

#infohytte2 {
    width: 34%;
    /* Gyslige farger er midlertidige */
    /*background-color: aqua;*/
    height: 100%;
    float: left;
}



/* Under her er uorgaisert */
.select-style {
    padding: 0;
    margin: 5px;
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    font-family: "DTL";
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

@font-face {
    font-family: "DTL";
    src: url('font/DTL.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}